@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Kalam|Yellowtail&display=swap');
body{
    margin: 30px 310px;
}
header{
    margin-bottom: 30px;
}
.logo{
    display: inline-block;
}
p.header{
    display:inline-block;
    margin: 0;
    font-size: 28px;
    bottom: 23px;
    position: relative;     
    font-family: 'Yellowtail',sans-serif ;
}


.headingfooter{
display: inline-block;
    font-size: 11px;
    color: gray;
    position: relative;
    margin: 0px;
    right: 90px;
    bottom: 2px;
}
.headerimages{
    float: right;
    margin-top: 0px;
}
main{

    border-top-width: 12px;
    border-bottom-width: 12px;
    padding-bottom: 60px;
}

h1{
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 0px;
    font-family: 'Fjalla One', sans-serif;
}

.date{
    
    display: block;
    font-size: 12px;
    margin-top: 0px;
    color: lightgray;
}

.print{
    font-size: 12px;
    float: right;
    margin: 0px;
    color: lightgray;
    bottom: 25px;
    position: relative;
}
.chcopizza{
    margin-top: 25px;
    display: block;
    width: 100%;
    
}


.para{
    
    text-indent: 30px;
    font-size: 20px;
    color: rgb(150, 143, 135);
    font-size: 20px;
}
form{
    padding: 40px;
    background-image: url("/img/list-bg.png");
    font-size: 22px;
    font-family: 'Kalam', serif;
    color: rgb(63, 63, 63);
}
form div{
    float:right;
    position: relative;
    bottom: 213px;
}

#van{
display: inline-block;
margin-top: 25px;
}

h3{
    display:inline-block;
    margin: 0;
    font-size: 20px;
    bottom: 50px;
    left: 10px;
    position: relative; 
    color: rgb(41, 39, 39);
}

.footerVan{

    font-size: 17px;
    color: rgb(112, 109, 109);
    margin: 0px;
    position: relative;
    left: 87px;
    bottom: 40px;
}
.share{
    display: inline-block;
    color: white; 
    background-color: rgb(213, 104, 64);
    padding: 2% 3% 2% 3%;
    position: relative;
    margin: 0px;
    left: 690px;
    bottom: 75px;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 1.3em;
    cursor: pointer;
}


footer{
    border-top: solid thin;
    border-color: lightgray;
    
    text-align: center;
}

#iconFooter{
    position: relative;
    display: block;
    margin: auto;
    bottom: 16px;

}

.styledline{
    margin-top: 25px;
    width: 100%;
    height: 14px;
    background-size: 4px 4px; 
    background-image: linear-gradient(45deg, transparent 46%, rgb(170, 170, 170) 49%, rgb(170, 170, 170) 51%, transparent 55%);
  }

